.vs/
/backend/Aprumese/.claude
/backend/Aprumese/Aprumese.Api/bin
/backend/Aprumese/Aprumese.Tests/bin 
/backend/Aprumese/Aprumese.Tests/obj
/backend/Aprumese/Aprumese.Api/obj 
/backend/Aprumese/obj
/backend/Aprumese/bin