name: Trigger auto deployment for aprumese-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/aprumese-api-AutoDeployTrigger-d820cf86-a632-479f-8fe9-ebc18556aef1.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APRUMESEAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APRUMESEAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APRUMESEAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.APRUMESEAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.APRUMESEAPI_REGISTRY_PASSWORD }}
          containerAppName: aprumese-api
          resourceGroup: aprume-se
          imageToBuild: jpdotfranca/aprumese-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


